## Validation Report ##

- First off, we checked for missing values, duplicate rows and ids, invalid values and inconsistent categories

### Number of rows that failed each
- Total row count is 10756
- 944 duplicates
- 2072 missing values
- 838 invalid values
- 7563 inconsistent categories

### Action taken
- Reject and remove the duplicate
- Impute and fill up the missing values
- Reject and remove things from class, kingly come for the discussion
- Normalize, to fix the commodities' purchase

